<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



<h2 class="account-name"> <%= session[:user].name %></h2>



<% if session[:user] == nil %>
<p>no one is logged in </p>
<% end %>


<h1> whats on your mind</h1>

<%= erb :post %>













</body>
</html>
