<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>




    <div class="nav">
      <i class="fab fa-rendact"></i>
      <ul>
        <li><a href="/home">Home</a></li>
        <% if session[:user] == nil %>
        <!-- <li><a href="/signup">Sign up</a></li> -->
        <li><a href="/login">Log in</a></li>
        <% else %>
        <li><a href="/account"><%= session[:user].name.capitalize%></a></li>
        <li><a href="/logout">Log out</a></li>
        <% end %>
      </ul>
    </div>









  <%= yield %>










  <script src="/main.js"></script>
</body>
</html>
