<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>





<ul>
  <li><a href="/home">Home</a></li>
     <% if session[:user] == nil %>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Log in</a></li>
   <% else %>
   <li><a href="/account"><%= session[:user].name%></a></li>
   <li><a href="/logout">Log out</a></li>
   <% end %>
</ul>










<%= yield %>











</body>
</html>
