
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body class="login-body">


  <div class="container login">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="login-form">
          <h1> Login</h1>

          <form action="/login" method="post">

            <input class="signup-form" type="email" placeholder="E-mail" name="email" required><br>
            <input class="signup-form" type="password" placeholder="Passwrord" name="password" required><br>
            <input class="btn btn-primary signbtn" type="submit" value="Log-in">

          </form>
        </div>

      </div>
    </div>

  </div>




</body>
</html>
