
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


<h1>Have an account Login!</h1>


<form action="/login" method="post">

  <input type="email" placeholder="E-mail" name="email"><br>
  <input type="password" placeholder="Passwrord" name="password"><br>
  <input type="submit" value="Log-in">

</form>








</body>
</html>
