<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



<form class="account-form" action="/post" method="post">

  <input type="text" placeholder="Title" name="title" required><br>
<input type="text" placeholder="description" name="content" required><br>
<input type="url" placeholder="Add image url" name="image"><br>
<input class="btn btn-success" type="submit" value="Create post">

</form>










</body>
</html>
