<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



<form action="/post" method="post">

  <input type="text" placeholder="Title" name="title"><br>
<input type="text" placeholder="description" name="content"><br>
<input type="url" placeholder="Add image" name="image"><br>
<input type="submit" value="Create post">


</form>












</body>
</html>
