<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



<div class="container">
<form action="/signup" method="post">

<input class="signup-form" type="text" placeholder="Name" name="name"><br>
<input class="signup-form" type="email" placeholder="email" name="email"><br>
<input class="signup-form" type="password" placeholder="password" name="password"><br>
<input class="btn btn-primary" type="submit" value="Sign up">

</form>

</div>








</body>
</html>
