<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



<div class="container">
<form action="/signup" method="post">

<input class="signup-form" type="text" placeholder="First Name" name="first_name" required><br>
<input class="signup-form" type="text" placeholder="Last Name" name="last_name"><br>
<input class="signup-form date" type="date"  name="birthday"><br>
<input class="signup-form" type="email" placeholder="email" name="email" required><br>
<input class="signup-form" type="password" placeholder="password" name="password" required><br>
<input class="btn btn-primary signbtn" type="submit" value="Sign up">

</form>

</div>








</body>
</html>
