

<h1>This is a profile page</h1>

<div class="container">
<% @user_posts.each do |post| %>
<h2><%= post.title %></h2>
<h4><%= post.content %></h4>
<img class="show-pic" src="<%= post.image %>" alt="">
<% end %>
</div>
