
.nav{
  justify-content: flex-end;
  background-color: #fbfbfb ;
  width: 100%;
  padding: 10px;
  position: sticky;
 top: 0px;
  /*opacity: 1;*/
  z-index:1;
  filter: drop-shadow(1px -4px 6px #1e1e21);
}
.nav ul{
display: flex;
list-style: none;


}

.nav li{
  margin-right: 20px;
  font-size: 1.3em;
}
.nav a{
  color: #030623;
}
.nav a:hover{
  text-decoration: none;
}
